section {
    background-color: rgb(245, 219, 185);
    padding: 4%;
    border: 4px #231c1a dotted;

}

header{
    background-color: #231c1a;
    height: 100px;
    width: 100%;
    position: relative;
}

header a{
    color:white;
    
}

header li{
    display: inline;
    margin-right: 5vw;
}
head ul{
    position: absolute;
    right:20px;
    top: 90;
    line-height: 100px;
}
h1{
    color: white;
    position: absolute;
    left: 20px;
    top: 90;
    line-height: 100px;
}
h2{
    display: flex;
    flex-direction: column;
}
.upword{
    color: rgba(152, 4, 4, 0.87);
    font-size:xx-large;
}
.block1{
    height: 100px;
    width:  70%;
    background-color: rgb(245, 219, 185);
}
.block2{
    height: 100px;
    width:  70%;
    background-color: rgb(245, 219, 185);
}
.block3{
    height: 500px;
    width:  70%;
    background-color: rgb(245, 219, 185);
}
.block4{
    height: 800px;
    width:  70%;
    background-color: rgb(245, 219, 185);
}
.block5{
    height: 500px;
    width:  70%;
    background-color: rgb(245, 219, 185);
}